
.modal_editar {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.65);
}

.modal_editar>.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.modal_inner_editar {
    background-color: white;
    width: 31.375rem;
    max-width: 100%;
    height: 34.375rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}

.modal_editar_cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.modal_editar_cabecalho h2 {
    font-weight: 600;
    font-size: 20px;
    color: #212529;
}

.modal_editar_form {
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 1rem;
}

.modal_editar_form input {
    height: 2.5rem;
    border-radius: 0.25rem;
    border: none;
    outline: 0;
    background-color: #F1F3F5;
    border-radius: 5px;
    padding: 0 1rem;
}

.modal_editar_form textarea {
    resize: none;
    height: 5rem;
    background-color: #F1F3F5;
    border: none;
    outline: 0;
    border-radius: 5px;
    padding: 0 1rem;
}

.modal_editar_form select {
    height: 2.5rem;
    background-color: #F1F3F5;
    border-radius: 5px;
    border: transparent;
}

.modal_editar_form label {
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
}

.modal_editar_status {
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
}

.modal_editar_status>input {
    margin: 0;
    height: auto;
    cursor: pointer;
}

.modal_categoria_editar{
    font-weight: 500;
    font-size: 16px;
    color: #343A40;
}

.button_editar_sair {
    font-weight: 600;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: #ADB5BD;
    transition: 300ms;
    cursor: pointer;
}

.button_editar_sair:hover {
    color: red;
}

.button_excluir {
    background-color: #F1F3F5;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: #343A40;
    padding: 12px 50px;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 244ms;
}

.button_excluir:hover{
    background-color: red;
    color: white;
}

.button_salvar {
    background-color: #A0ADF9;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 50px;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
}

.button_salvar:hover {
    background-color: #415AF3;
    color: #FFFFFF;
}

.modal_editar_botoes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal_editar_cabecalho h2{
    display: flex;
    flex-direction: row-reverse;
}

.modal_editar_form span{
    color: #CA3E3E;
    align-self: center;
    margin-top: 1vh;
}