body{
    width: 100%;
    height: 100vh;
    font-size: 18px;
    background: #222f3e;
}
.container{
    display: flex;
    width: 100%;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #7159c1 0%, #2d2153 50%, rgba(5,5,5,1) 95%);
    background-image: radial-gradient(center #141b24, #175da8, #131a22);
    height: 100%;
    justify-content: center;
    align-items: center;
}
.container--login{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
width: 420px;
height: 60%;
border: 1px solid rgba(200, 214, 229, 0.596);
border-radius: 24px;
}

.container__titulo{
font-size: 60px;
color: #c8d6e5;
margin-bottom: 20px;
}

.container__form{
display: flex;
flex-direction: column;
gap: 19px;
}

.container__form input{
padding: 13px 12px;
background-color: rgba(255, 255, 255, 0.991);
border: 1px solid #5f27cd;
border-radius: 8px ;
width: 246px;
font-size: 16px;
}

.container__form__btn{
width: 100%;
height: 48px;
margin-top: 24px;
border-radius: 24px;
border-color: rgba(200, 214, 229, 0.13);
font-size: 22px;
background: #5f27cd;
color: #c8d6e5;
}

.container__form__btn:hover{
cursor: pointer;
filter: brightness(200%);

}

.container__menssagem{
color: red;
font-weight: 700;
}

a{
color: #c8d6e5
}
a:hover{
color: #5f27cd;
}

p {
color:  #c8d6e5;
}
footer {
display: flex;
flex-direction: column-reverse;
align-items: center;
background-color: #131a22;
}

