.form{
    display: flex;
    gap: 20px;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
}

.formDescricao{
    width: 314px;
    height: 51px;
    border: none;
    background-color: #F8F9FA;
    border-radius: 10px;

}
.valorSelect{
    display: flex;
    align-items: center;
    gap: 25px;
    border-radius: 10px;

 
}

.selectBoxLeft{
    width: 150px;
    height: 48px;
    border: none;
    background-color: #F8F9FA;
    border-radius: 10px;


}

.formValor{
    width: 128px;
    height: 48px;
    border: none;
    background-color: #F8F9FA;
    border-radius: 10px;

}
.buttonBoxLeft{
    color: white;
    width: 314px;
    height: 48px;
    background-color: #FD377E;
    border: none;
    border-radius: 10px;
}

.formH3{
    font-size: 12px;
    color: #212529;
}