.button{
    background-color: #FD377E;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    padding: 13px 20px;
    height: 48px;
}
.button:hover{
    background-color: #E34981;
}
.filterButton{
    margin-right: 30px;
    display: flex;
    gap: 20px;
}

@media (max-width: 900px) {

    .filterButton{
        margin-right: 0px;

    }
}